// .menuitem {
//     background-color: white;
//     color: red;
//     &:hover {
//         background-color: white;
//         color: #1677ff;
//         border-right-style: 5px solid #1677ff;
//     }
// }
.menuitem {
    background-color: white;
    color: #1677ff;
    border-right: 5px solid #1677ff;
    border-radius: 0px
}

:global(.ant-menu-item-selected) {
    background-color: rgba(255, 255, 255, 0);
}

:global(:where(.css-dev-only-do-not-override-k83k30).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item-selected) {
    background-color: rgb(0, 0, 0,0);
}

// .menuitem :hover {
//     background-color: white;
// }