* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* css变量定义到这里 */
:root {

}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}